# Setup

In [1]:
import pandas as pd
import numpy as np
import sys

#arg = 'Lista_transakcji_nr_0166140511_020823.csv'
arg = 'Lista_transakcji_nr_0166141168_020823.csv'

In [2]:
exps = pd.read_csv(filepath_or_buffer=arg,
                   sep=';',
                   header=11,
                   encoding='ansi',
                   on_bad_lines='skip',
                   usecols=range(0, 15))

exps = exps.drop(columns=['Data księgowania', 'Nr rachunku', 'Nazwa banku', 'Nr transakcji', 'Waluta', 'Waluta.1', 'Waluta.2', 'Kwota płatności w walucie'])
# last row is some note
exps = exps[0:-1]
exps = exps.loc[-exps['Tytuł'].str.contains('Own transfer')]
exps = exps.loc[-exps['Tytuł'].str.contains('Przelew własny')]
exps

,Data transakcji,Dane kontrahenta,Tytuł,Szczegóły,Kwota transakcji (waluta rachunku),Kwota blokady/zwolnienie blokady,Saldo po transakcji
0,2023-06-30,ZABKA ZB083 K.1 WARSZAWA POL,Płatność kartą 30.06.2023 Nr karty 4246xx2194,-4.99,"-4,99",NaN,"67,32"
1,2023-06-28,LIDL 1671 LUBLIN POL,Płatność kartą 28.06.2023 Nr karty 4246xx2194,-13.41,"-13,41",NaN,"72,31"
2,2023-06-28,LIDL 1671 LUBLIN POL,Płatność kartą 28.06.2023 Nr karty 4246xx2194,-272.22,"-272,22",NaN,"85,72"
4,2023-06-28,STOKROTKA 10 LUBLIN POL,Płatność kartą 28.06.2023 Nr karty 4246xx2194,-6.18,"-6,18",NaN,"57,94"
5,2023-06-28,ADOBE CREATIVE CLOUD Dublin,Prowizja za przewalutowanie Płatność kartą 26...,-4.10,"-4,10",NaN,"64,12"
...,...,...,...,...,...,...,...
108,2023-06-01,K001G21307 POLWYSEP 97 WARSZAWA P,Płatność kartą 01.06.2023 Nr karty 4246xx2194,-34.90,"-34,90",NaN,"23,38"
109,2023-06-01,JMP S.A. BIEDRONKA 2347 WARSZAWA,Płatność kartą 01.06.2023 Nr karty 4246xx2194,-13.26,"-13,26",NaN,"58,28"
110,2023-06-01,MAISON CHARLOTTE SP Z WARSZAWA PO,Płatność kartą 01.06.2023 Nr karty 4246xx2194,-24.00,"-24,00",NaN,"71,54"
111,2023-06-01,ADOBE CREATIVE CLOUD Dublin,Prowizja za przewalutowanie Płatność kartą 30...,-4.19,"-4,19",NaN,"95,54"
112,2023-06-01,CITYFIT WARSZAWA POL,Płatność kartą 01.06.2023 Nr karty 4246xx2194,-190.95,"-190,95",NaN,"99,73"

Skompresuj 3 kolumny związane z kwotą w jedn
ą

In [3]:
exps['Kwota'] = np.where(exps['Kwota'].isnull(), exps['Kwota blokady/zwolnienie blokady'], exps['Kwota'])
exps = exps.drop(columns=['Szczegóły', 'Kwota transakcji (waluta rachunku)', 'Kwota blokady/zwolnienie blokady'])
exps

,Data transakcji,Dane kontrahenta,Tytuł,Saldo po transakcji,Kwota
0,2023-06-30,ZABKA ZB083 K.1 WARSZAWA POL,Płatność kartą 30.06.2023 Nr karty 4246xx2194,"67,32",-4.99
1,2023-06-28,LIDL 1671 LUBLIN POL,Płatność kartą 28.06.2023 Nr karty 4246xx2194,"72,31",-13.41
2,2023-06-28,LIDL 1671 LUBLIN POL,Płatność kartą 28.06.2023 Nr karty 4246xx2194,"85,72",-272.22
4,2023-06-28,STOKROTKA 10 LUBLIN POL,Płatność kartą 28.06.2023 Nr karty 4246xx2194,"57,94",-6.18
5,2023-06-28,ADOBE CREATIVE CLOUD Dublin,Prowizja za przewalutowanie Płatność kartą 26...,"64,12",-4.10
...,...,...,...,...,...
108,2023-06-01,K001G21307 POLWYSEP 97 WARSZAWA P,Płatność kartą 01.06.2023 Nr karty 4246xx2194,"23,38",-34.90
109,2023-06-01,JMP S.A. BIEDRONKA 2347 WARSZAWA,Płatność kartą 01.06.2023 Nr karty 4246xx2194,"58,28",-13.26
110,2023-06-01,MAISON CHARLOTTE SP Z WARSZAWA PO,Płatność kartą 01.06.2023 Nr karty 4246xx2194,"71,54",-24.00
111,2023-06-01,ADOBE CREATIVE CLOUD Dublin,Prowizja za przewalutowanie Płatność kartą 30...,"95,54",-4.19
112,2023-06-01,CITYFIT WARSZAWA POL,Płatność kartą 01.06.2023 Nr karty 4246xx2194,"99,73",-190.95